<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./estilo.css" />
    
    <title>Lista de produtos e clientes</title>

   
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

 <img src="vendadeprodutos.jpg" alt="">
 

    <div class="container">
        <h1>Lista de produtos e clientes</h1>
        
        
        {{{body}}}
        {{>rodape}}
    </div>
    

    <style>
        
        .container{
            	
        }

      html, body {
        min-height: 100%;

        
      }
      body {

          background-image: url(vendadeprodutos.png);
      
  height: 30px;
    width: 100%;
 border: 70px solid rgb(37, 192, 6);
  padding: 0px;
  margin: 10px;
  margin-top: -53em;
  margin-left: -0px;


   

        font-size: 14px;
        line-height: 25px;
        margin: 0px;
        font-family: open sans,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
				color: #313131;
      }
      
      h1 {
        font-weight: 600;
        font-size: 45px;
        margin: 0 0 5px;
        line-height: 75px;
      }
      h4 {
        font-weight: 500;
        margin: 10px 0px 10px 0px;
        font-size: 16px;
        line-height: 30px;
      }
      .header {
          margin: 120px;
          text-align: center;
      }
  </style>
    
</body>



</html>