<h2>Cadastrar cliente</h2>
<form action="/cadastroCliente" method="post">
    
   
   <div class="mb-3">
        <label class="form-label">cliente</label>
        <input class="form-control" type="text" name="cliente">
    </div>
    <div class="mb-3">
        <label class="form-label">email</label>
        <input class="form-control" type="text" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">cpf</label>
        <input class="form-control" type="text" name="cpf">
    </div>
  
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="submit" class="btn btn-primary">Voltar</button>
</form>